<nav>
    <a href="https://rauldipeas.tk"><i class="fa fa-home"></i></a>
    <a href="https://paper.dropbox.com/doc/Cursos-Raul-Dipeas-2SiXCwUNiA8BPz5OO2YdX" target="_blank"><i class="fa fa-graduation-cap"></i></a>
    <a href="https://bandlab.com/rauldipeas" target="_blank"><i class="fa fa-music"></i></a>
    <a href="https://trakt.tv/users/rauldipeas" target="_blank"><i class="fa fa-film"></i></a>
    <a href="https://trello.com/rauldipeas" target="_blank"><i class="fab fa-trello"></i></a>
    <a href="https://instagram.com/raul_dipeas" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/rauldipeas" target="_blank"><i class="fab fa-twitter"></i></a>
    <a><span class="toggle-dark" onclick="theme()"></span></a>
    <a href="{{ site.baseurl }}/search"><i class="fa fa-search"></i></a>
</nav>