---
layout: default
---
<style>
  .wrapper-masthead {
    margin-bottom: 0;
  }
  .entry img {
    border-radius: 0px;
  }
</style>
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
    <!--{% include talk-to-me.html %}-->
  </div>

  <div class="date">
    </br>
    Postado em {{ page.date | date: "%e de %b, %Y" }}
  </div>
  <!--{% include elfsight-share.html %}-->
  {% include disqus.html %}
  <!--{% include telegram-comments.html %}-->
  <!--{% include utterances.html %}-->
  <!--{% include replybox.html %}-->
  {% include related-posts.html %}
</article>
