---
layout: default
---
<style>
  .wrapper-masthead {
    margin-bottom: 0;
  }
</style>
<article class="post" style="max-width: 900px;margin: auto;text-align: justify;text-justify: inter-word;">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Postado em {{ page.date | date: "%e de %b, %Y" }}
  </div>
  {% include related-posts.html %}
  <!--{% include disqus.html %}-->
  <div id="replybox" style="max-width: 750px;margin: auto;"></div>
  <script>
    window.replybox = {
      site: 'yj1n1VpBO5', 
    };
    </script>
    <script src="https://cdn.getreplybox.com/js/embed.js"></script>
</article>
